.page-changelog {
  padding: 27.5px;
  margin: 0 auto;
  white-space: nowrap;
}
.page-changelog h1 {
  font-size: 275%;
  margin: 0 0 15px 0;
  letter-spacing: 0.001em;
}
.page-changelog .changelog-subtitle {
  font-size: 75%;
  opacity: 0.6;
  margin-bottom: -2px;
}
.page-changelog .changelog-date {
  font-size: 150%;
  opacity: 1;
  font-weight: bold;
  margin: 1.5em 0 0.75em 0;
}
.page-changelog .changelog-date:nth-of-type(3) {
    margin-top: 26px;
}
.page-changelog p {
  font-size: 90%;
  opacity: 0.7;
  margin: 6px 0;
  width: 100%;
}
main.page-changelog-wrapper {
  display: block;
  height: 100%;
  overflow-y: auto;
  padding: 0;
  margin: 0;
}
.page-changelog-inner {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
}
