.page-list .list-container,
.page-list .level-container,
.page-list .meta-container {
    padding-block: 2rem; /* change later*/
}
.page-list .list-container {
    padding-inline: 1rem;
}
.page-list .meta-container {
    padding-right: 2rem;
}

.page-list .list {
    table-layout: auto;
}
.page-list .list .rank {
    text-align: end;
    padding-right: 1rem;
}
.page-list .list .level {
    width: 100%;
}

/* share with listpacks.js */
.shared-list .list .level button {
    position: relative;
    overflow: hidden;
    background-color: var(--color-background);
    color: var(--color-on-background);
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: start;
    word-break: normal;
    overflow-wrap: anywhere;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-block: 0.1rem; /* gap between level button */
    
}

.shared-list .list .level button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: rgba(255, 255, 255, 0.11111);
    z-index: 0;
    transition: width 0.3s ease;
}

.shared-list .list .level button:hover::before {
    width: 100%;
}

.shared-list .list .level button > * {
    position: relative;
    z-index: 1;
}

.page-list .list .level.error button {
    color: var(--color-error);
    cursor: not-allowed;
    text-decoration: line-through;
}
.page-list .list .level button:hover {
    background-color: var(--color-background-hover);
    color: var(--color-on-background-hover);
}
.page-list .list .level.active button {
    background-color: var(--color-primary);
    color: var(--color-on-primary);
}
.page-list .level-container .level {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-right: 2rem;
    max-width: 48rem;
}
.page-list .level-container .level .level-authors {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-auto-rows: max-content;
    gap: 1rem;
}
.page-list .level-container .level .video {
    aspect-ratio: 16/9;
}
.page-list .level-container .level .stats {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    gap: 2rem;
}
.page-list .level-container .level .stats li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.page-list .level-container .level .packs {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4em;
}
.page-list .level-container .level .packs .tag {
    display: flex;
    flex-shrink: 0;
    background-size: 100% 100% !important;
}
.page-list .level-container .level .records {
    table-layout: fixed;
}
.page-list .level-container .level .records tr td:not(:last-child) {
    padding-right: 1rem;
}
.page-list .level-container .level .records .percent,
.page-list .level-container .level .records .user,
.page-list .level-container .level .records .hz {
    padding-block: 1rem;
}
.page-list .level-container .level .records .user {
    width: 100%;
}
.page-list .level-container .level .records .percent,
.page-list .level-container .level .records .hz {
    text-align: end;
}
.page-list .meta-container .og a:hover,
.page-list .level-container .level .records a:hover {
    text-decoration: underline;
}
.page-list .meta {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.page-list .meta .errors {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.page-list .meta .errors .error {
    padding: 1rem;
    background-color: var(--color-error);
    color: var(--color-on-error);
    border-radius: 0.5rem;
}
.page-list .meta .editors {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}
.page-list .meta .editors li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.page-list .meta .editors li img {
    height: 1.25rem;
}
.page-list .meta .editors li a:hover {
    text-decoration: underline;
}
.tag p {
    font-family: "Lexend Deca", sans-serif;
    display:block;
    border-radius: 14px;
    padding: 7px;
    color: white;
    /* mix-blend-mode: difference; */
    /* color: rgb(128, 128, 128); */
}

/* records */

.records tr.record {
    position: relative;
    overflow: hidden;
    background-color: var(--color-background);
    border-radius: 0.5rem;
    transition: background-color 0.3s ease;
    cursor: pointer;

    display: table;
    width: 100%;
    margin-bottom: 0.1rem;
}

.records tr.record td {
    padding: 0rem 0.5rem;
    vertical-align: middle;
}

.records tr.record::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: rgba(255, 255, 255, 0.11111);
    z-index: 0;
    transition: width 0.3s ease;
    border-radius: 0.5rem;
}

.records tr.record:hover::before {
    width: 100%;
}

.records tr.record > * {
    position: relative;
    z-index: 1;
}

/*search bar*/
.page-list .search-bar {
	/* position: sticky; */
	top: 0;
	padding: 0rem 0;
    display: flex;
	align-items: center;
    justify-content: flex-start;
	gap: 1rem;
	background-color: var(--color-background);
    z-index: 10;
    margin-bottom: 0.75em;
    
}

.page-list .search-bar img {
	width: 1.5rem;
	height: 1.5rem;
}

.page-list .search-bar input {
	background-color: transparent; 
    border: none; 
    border-bottom: 1px solid var(--color-on-background);
    padding: 0.5rem 0; 
    width: 100%; 
    color: var(--color-on-background);
    font-size: 1rem; 
    outline: none; 
}

/*
.page-list .meta-container .importantnotes {
  background-color: rgba(0, 0, 0, 0.1); /* background already there
  transition: transform 200ms ease, background-color 200ms ease;
  position: relative;
  border-radius: 0.5rem;
  padding: 1rem;
}

>> put back importantnotes class at LINE 114 List.js <<

.page-list .meta-container .importantnotes:hover {
  transform: translateY(-3px); 
  background-color: rgba(0, 0, 0, 0.2);
}

.page-list .meta-container .importantnotes p {
  margin: 2rem 0; /* spacing between paragraph
  line-height: 1.75; /* spacing inside paragraph
}

>> put back editors-container class at LINE 103 List.js
.page-list .meta-container .editors-container {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 1.5rem;
  border-radius: 0.5rem;
  transition: transform 200ms ease, background-color 200ms ease;
}

.page-list .meta-container .editors-container:hover {
  transform: translateY(-3px);
  background-color: rgba(0, 0, 0, 0.1);
}

.page-list .meta-container .editors-container a {
  margin: 0rem 0; /* spacing between paragraph
  line-height: 0.2; /* spacing inside paragraph
}
  */