.packs-nav {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 50px;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: var(--color-background-hover);
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    cursor: grab;
}
.packs-nav:active { cursor: grabbing; }
.packs-nav::-webkit-scrollbar { display: none; }
.packs-nav > div { display: flex; height: 100%; }
.packs-nav button {
    height: 100%;
    flex-shrink: 0;
    padding: 10px 25px;
    border: none;
    border-top-left-radius: 0.75em;
    border-top-right-radius: 0.75em;
    text-align: start;
    overflow-wrap: anywhere;
    cursor: pointer;
    background-size: 100% 100% !important;
    transform: translateY(0);
    transition: transform 250ms ease;
}
.packs-nav button:hover:not(.selected):not(:active) { transform: translateY(5px); }
.packs-nav button:active { transform: translateY(9px); }
.packs-nav button.selected { transform: translateY(5px) !important; }
.packs-nav button p { color: #fff; }

.pack-list .list-container,
.pack-list .level-container,
.pack-list .meta-container {
    margin-top: 50px;
    padding-block: 2rem;
}
.pack-list .list-container { padding-inline: 1rem; }
.pack-list .meta-container { padding-right: 2rem; }
.pack-list .list { table-layout: auto; }
.pack-list .list .rank { text-align: end; padding-right: 1rem; }
.pack-list .list .level { width: 100%; }
.pack-list .list .level button { background-size: 100% 100% !important; }

.shared-list .list .level.error button {
    color: var(--color-error);
    cursor: not-allowed;
    text-decoration: line-through;
}
.shared-list .list .level button:hover {
    background-color: var(--color-background-hover);
    color: var(--color-on-background-hover);
}
.shared-list .list .level.active button {
    background-color: var(--color-primary);
    color: var(--color-on-primary);
}

.pack-list .level-container .level {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-right: 2rem;
    max-width: 48rem;
}
.pack-list .level-container .level .level-publisher {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-auto-rows: max-content;
    gap: 1rem;
}
.pack-list .level-container .level .video { aspect-ratio: 16/9; }
.pack-list .level-container .level .stats {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    gap: 2rem;
}
.pack-list .level-container .level .stats li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.pack-list .level-container .level .records { table-layout: fixed; }
.pack-list .level-container .level .records tr td:not(:last-child) { padding-right: 1rem; }
.pack-list .level-container .level .records .percent,
.pack-list .level-container .level .records .user,
.pack-list .level-container .level .records .hz { padding-block: 1rem; }
.pack-list .level-container .level .records .user { width: 100%; }
.pack-list .level-container .level .records .percent,
.pack-list .level-container .level .records .hz { text-align: end; }
.pack-list .level-container .level .records a:hover,
.pack-list .meta-container .og a:hover { text-decoration: underline; }

.pack-list .meta {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.pack-list .meta .errors {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.pack-list .meta .errors .error {
    padding: 1rem;
    background-color: var(--color-error);
    color: var(--color-on-error);
    border-radius: 0.5rem;
}

.tag {
    font-family: "Lexend Deca", sans-serif;
    display: block;
    border-radius: 14px;
    color: white;
    background-color: #5d5d5d;
    padding: 7px;
}

.mainlist-placement {
    position: relative;
    bottom: 2px;
    right: 1px;
    font-weight: bold;
    font-size: 0.6em;
    color: #999;
}

.scroll-indicator {
    font-size: 0.9em;
    margin-bottom: -12px; /* distance between indicator and pack description */
    margin-top: -10px;    /* distance between indicator and pack row */
    color: #999;
}
